*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.questions{
    text-align: center;
}
.title{
    margin-top: 10%;
}
.title h2{
    color: goldenrod;
    text-transform: capitalize;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section-center{
    width: 80%;
    margin: 10% auto;
}
.question{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    height: fit-content;
    text-align: left;
    padding: 20px;
}
.question-title{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}
.question-title p{
    margin-bottom: 10px;
}
.question-title button{
    font-size: 20px;
}
.question-text{
    margin-top: 10px;
    font-size: 20px;
    padding: 30px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}
.hide-question-text{
    margin-top: 10px;
    font-size: 20px;
    padding: 30px;
    border-top: 2px solid black;
}
.minus-btn{
    display: none;
}
.question-text{
    display: none;
}

.show-text .question-text{
    display: block;
}
.show-text .minus-btn{
    display: inline;
}
.show-text .plus-btn{
    display: none;
}